<mat-toolbar color="primary">
  <span><a [routerLink]="['/']">My Messages</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isLoggedin$ | async as loggedin">
      <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >playlist_add</mat-icon
        ></a
      >
    </li>
    <li *ngIf="isLoggedout$ | async as loggedout">
      <a
        mat-button
        [routerLink]="['/auth/signup']"
        routerLinkActive="mat-accent"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >person_add</mat-icon
        >
      </a>
    </li>
    <li *ngIf="isLoggedout$ | async as loggedout">
      <a mat-button [routerLink]="['/auth/login']" routerLinkActive="mat-accent"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >meeting_room</mat-icon
        >
      </a>
    </li>
    <li *ngIf="isLoggedin$ | async as loggedin">
      <button mat-button (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >no_meeting_room</mat-icon
        >
      </button>
    </li>
  </ul>
</mat-toolbar>
